// Text Color
.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-success-light {
  color: var(--success-light-color) !important;
}

.text-warning {
  color: var(--warning-color) !important;
}

.text-warning-light {
  color: var(--warning-light-color) !important;
}

.text-info {
  color: var(--info-color) !important;
}

.text-info-light {
  color: var(--info-light-color) !important;
}

.text-danger {
  color: var(--danger-color) !important;
}

.text-danger-light {
  color: var(--danger-light-color) !important;
}

// Background Color
.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}

.bg-success-light {
  background-color: var(--success-light-color) !important;
}

.bg-warning {
  background-color: var(--warning-color) !important;
}

.bg-warning-light {
  background-color: var(--warning-light-color) !important;
}

.bg-info {
  background-color: var(--info-color) !important;
}

.bg-info-light {
  background-color: var(--info-light-color) !important;
}

.bg-danger {
  background-color: var(--danger-color) !important;
}

.bg-danger-light {
  background-color: var(--danger-light-color) !important;
}
.bg-file-upload {
  background-color: var(--upload-file-bg) !important;
}
