<div class="container-fluid">
    <div class="row min-vh-100">
   
      <div class="col-lg-6 p-0">
        <div class="login-form">
          <form>
            <h3>Log in</h3>
            <p class="mt-2">
              Enter your details to Log in
            </p>
            <div class="input_row">
              <label>Username </label>
              <input #userID type="text" pInputText placeholder="Enter Username" />
            </div>
            <div class="input_row">
              <label>Password</label>
              <p-password
                [toggleMask]="true"
                [feedback]="false"
                class="w-100 input_invalid"
                placeholder="Enter Password"
              />
  
              <div class="mt-2">
                <span class="text-danger">
                  <img
                    src="../../../assets/img/danger-info.svg"
                    width="15"
                    class="me-1"
                    alt=""
                  />
                  Please Enter a valid password
                </span>
              </div>
            </div>
            <p-checkbox [label]="'Remember Me'" name="remember_me" [value]="''" />
            <app-button
              [disabled]="userID.value == ''"
              classes="w-100 mt-4"
              label="login"
              [styleType]="ButtonTypeE.Primary"
            ></app-button>
          </form>
        </div>
      </div>
  
    
      <div class="col-lg-6 p-0">
        <div class="login-img "></div>
      </div>
    </div>
  </div>
  
