<div class="container-fluid">
  <div class="row min-vh-100">

    <div class="col-lg-6 p-0">
      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
          <h3>Log in</h3>
          <p class="mt-2"> Enter your details to Log in</p>
          

            <app-form-input [control]="loginForm.get('field')" [inputType]="'text'" [isLoading]="isLoading" 
            [isSubmitted]="isSubmitted" [inputLabel]="'Email'"></app-form-input>

            <app-form-input [control]="loginForm.get('password')" [inputType]="'password'" [isLoading]="isLoading" 
            [isSubmitted]="isSubmitted" [inputLabel]="'Password'"></app-form-input>

        
          <p-checkbox [label]="'Remember Me'" name="remember_me" [value]="''" />
          <app-button btnType="submit" classes="w-100 mt-4" label="login" [styleType]="ButtonTypeE.Primary"></app-button>
        </form>
      </div>
    </div>


    <div class="col-lg-6 p-0">
      <div class="login-img "></div>
    </div>
  </div>
</div>