<header class="header">
    <div class="header_content">
        <div>
            <img src="../../../../assets/img/logo.jpeg" width="50" alt="" />
        </div>

        <div class="account-info" (click)="menu.toggle($event)" *ngIf="getUserData()">
            <span class="fw-bold">{{getUserData().name}}</span>
            <p-avatar [image]="getUserData().image" styleClass="mr-2" size="normal" shape="circle"></p-avatar>
        </div>

    </div>
</header>
<p-menu #menu [model]="items" [popup]="true"></p-menu>